<!-- Testimonials -->
<section class="bb bb--muted mt-40 mb-40">
  <h1 class="alpha">What our clients say</h1>
  <div class="l-container mt-40 mb-40">
    {% for testimonial in site.data.testimonials.quotes %}
    <div class="l-third">
      <section class="blurb">
        <header class="blurb-hd">
          {% image_tag src=testimonial.photo height="90" %}
        </header>
        <div class="blurb-bd">
          <blockquote>
            <p>“{{testimonial.quote}}”</p>
            <cite><a class="loud" href="{{testimonial.link}}" target="_blank">{{testimonial.cite}}</a></cite>
          </blockquote>
        </div>
      </section>
    </div>
    {% endfor %}
  </div>
</section>

<!-- Client logos -->
<section class="mt-55 mb-85">
  <h1 class="alpha">A selection of our clients</h1>
  <div class="mt-40 mobile-stack-images">
    {% image_tag src="/img/logos/vice.png" width="82" class="mr-40" %}
    {% image_tag src="/img/logos/app-io.png" width="119" class="mr-40" %}
    {% image_tag src="/img/logos/nbc.png" width="66" class="mr-40" %}
    {% image_tag src="/img/logos/openstack.png" width="120" class="mr-40" %}
    {% image_tag src="/img/logos/baccardi.png" width="120" class="mr-40" %}
  </div>
</section>
